.main {
  padding: 0;
  /* min-height: 100vh; */
  background: url('/bg.png') no-repeat;
}

.header {
 
  height: 80px;
  /* background:
  #0D0D0D; */
 /* background-color: transparent; */
  transition: all 0.2s;
  
  box-sizing: border-box;
  margin: 0;
  background: 
  #0D0D0D;
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header > div {
  height: 100%;
}


.ReactCollapse--collapse {
  transition: height 500ms;
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  background: var(--color-opacity);
  z-index: var(--z-top);
  top: -100%;
  transition: all 0.3s;
}

.hidden {
  opacity: 0;
}

.logo {
  height: 42px;
}

.invalidNetwork {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.invalidNetwork ul li {
  font-size: 80%;
}




.footer {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #3f3f75;
}

.footer .footerContent {
  max-width: 1220px;
  width: 100%;
  margin: auto;
  z-index: 100;
  padding-bottom: 40px;
}

@media all and (max-width: 1400px) {
  .footer .footerContent {
    padding: 0 24px;
  }
}
.socials {
  margin-top: 35px;
}

.socials svg path {
  fill: white;
}

.socials a:not(:last-child) {
  margin-right: 35px;
}

.socials a:last-child svg {
  width: 34px;
  height: 34px;
}

.copyRight {
  font-weight: 800;
  font-size: 16px;
  color: var(--color-white);
  margin-top: 28px;
  text-align: right;
}

.copyRight span {
  color: #ffa113;
}

.footerMenu a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: var(--color-brown);
  margin-top: 22px;
}

.scrollTop {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 70px;
  height: 70px;
  right: 5px;
  bottom: 50px;
  background: var(--color-brown);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 1000;
}

.scrollTop:hover {
  background: var(--color-brown);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.socialWrapper .socials img {
  height: 20px;
}

.networkMenu {
  display: flex;
  align-items: center;
}

.networkSelector {
  display: flex;
  position: relative;
  margin-right: 16px;
}

.networkSelector .currentNetwork {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.networkSelector .currentNetwork .networkLogo {
  width: 24px;
  margin-right: 8px;
}

.networkSelector .currentNetwork .dropdownToggle {
  width: 10px;
}

.networkSelector .dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
}

.networkSelector .dropdown.active {
  display: block;
}

.networkSelector .dropdown .dropdownItem {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  background: #2f2f2f;
}

.networkSelector .dropdownItem img {
  width: 24px;
  margin-right: 8px;
}

.networkSelector .dropdownItem:hover {
  background: #fff;
  color: #000 !important;
}



@media all and (max-width: 796px) {
  /* .menu {
    display: none !important;
  } */

  .hamburger {
    display: block;
  }
  .mobileMenu {
    display: block;
  }
  .menuWrapper {
    margin-top: 22px;
  }
  .logo {
    height: 33px;
  }
  .socialWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .socialWrapper .socials {
    margin-top: 0px;
  }
  .socialWrapper .socials img {
    height: 15px;
  }
  .menuWrapper .footerMenu {
    flex-direction: column;
    justify-content: flex-end;
  }
  .scrollTop {
    width: 40px;
    height: 40px;
    right: 16px;
  }
}



.footer_wrapper {
  background: var(--col-blue-1);
  min-height: 45px;
}
.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #eee;
}
.footer_container p {
  font-size: 14px;
  color: #aaa;

}

.footer_container .social .icon {
  font-size: 24px;
  margin: 0 8px;
  color: #ccc;
}

@media(max-width: 600px) {
  .footer_container {
    flex-direction: column;
  }
  .footer_container .social {
    margin-top: 8px;
  }
}


.how_to_join {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  object-fit: contain;
  border:1px solid var(--col-main-text);
  font-size: 15px;
  font-weight: 300;
  padding: 0 16px;
  color: #eee;
  margin-top: 0 !important;
  border-radius: 4px;
  background: transparent;
  margin: 0 1.5rem;
  line-height: 18px;
}

.how_to_join:hover {
  background: rgba(255, 255, 255, .1);
}

.add_to_wallet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  object-fit: contain;
  font-size: 15px;
  font-weight: 300;
  padding: 0;
  color: var(--col-main-text);
  margin-top: 0 !important;
  border-radius: 4px;
  background: transparent;
  line-height: 18px;
}

/* @media(max-width: 768px) {
  .how_to_join {
    display: none;
  }
  .how_to_join_mb {
    margin: 0 auto;
    margin-top: 1rem !important;
  }
} */

.nav_menus {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: space-between;
  /* background: 
  #0D0D0D; */
}

@media(max-width: 600px) {
  .header   {
    min-height: 150px;
  }
  .how_to_join {
    margin: 0 1rem;
  }
  .header {
  padding: 7px 0 0 0;
  }
  .logo {
  /* margin-bottom: 10px; */

  }
  .nav_menus {
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
  }
}


.navbar {
  /* nav menus */
  
}

.nav_menus_mid {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.nav_menus_mid .menu {
  margin-left: 36px;
  position: relative;
}

.nav_menus_mid a {
  font-weight: 200;
  padding: 5px 12px;
  color: var(--text-faded);
  border-bottom: 2px solid transparent;
}

.nav_menus_mid .active {
  border-bottom: 2px solid var(--col-main-text);
  color: var(--col-main-text);
}

@media(max-width: 768px) {
  .navbar {
    margin-bottom: 12px;
  }
  .nav_menus_mid .menu {
    margin-left: 16px;
    position: relative;
  }
}





