.banner_wrapper {
  min-height: calc(100vh - 12px);
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  .banner_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    .row_one {
      width: 100%;
      max-width: 700px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        .label {
          color: #aaa;
          font-size: 22px;
        }
        h2 {
          color: #ccc;
          font-size: 50px;
          font-weight: 400;
          line-height: 50px;
        }
      }
      .right {
        padding: 12px;
        height: 72px;
        text-align: center;
        background: #171717;
        border: 1px solid rgba(255, 255, 255, 0.04);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        .label {
          color: #aaa;
          font-size: 15px;
        }
        p {
          color: #ccc;
          font-weight: 600;
          // line-height: 60px;
        }
      }
    }

    .navbar {
      /* nav menus */
      margin-top: 2rem;
      .nav_menus {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 auto;
      }

      .nav_menus .menu {
        margin-left: 36px;
        position: relative;
      }

      .nav_menus a {
        font-weight: 200;
        padding: 5px 15px;
        color: #aaa;
        border-bottom: 4px solid transparent;
      }

      .nav_menus .active {
        border-bottom: 4px solid #eee;
        color: #eee;
      }
    }

    .stake {
      background: rgba(23, 23, 23, 0.9);
      border: 1px solid rgba(255, 255, 255, 0.04);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      width: 100%;
      max-width: 700px;
      margin: 1.5rem auto;
      padding: 1.5rem;
      .title {
        color: var(--text-faded);
        font-size: 15px;
      }
      .stats {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 768px) {
          flex-direction: column;
        }
        .left {
          display: flex;
          align-items: center;
          .circle {
            height: 34px;
            width: 34px;
            background: #00bf58;
            border-radius: 50%;
            margin-right: 12px;
          }
          h3 {
            color: #eee;
            font-size: 25px;
            margin: 0 12px 0 0;
          }
          .minor {
            color: var(--text-faded);
            font-size: 15px;
          }
        }
        .right {
          text-align: center;
          background: rgba(255, 255, 255, 0.04);
          border-radius: 8px;
          padding: 10px 12px;
          @media(max-width: 768px) {
            margin-top: 1.5rem;
          }
          .label {
            color: var(--text-faded);
            font-size: 13px;
          }
          .value {
            color: #eee;
            display: flex;
            align-items: center;
            font-size: 15px;
            .circle {
              height: 18px;
              width: 18px;
              background: #00bf58;
              border-radius: 50%;
              margin-right: 7px;
            }
            .minor {
              margin-left: 7px;
              font-size: 13px;
              color: var(--text-faded);
            }
          }
        }
      }
      .stake_actions {
        background: #FFFFFF0A;
        margin-top: 1.5rem;
        padding-bottom: 0.8rem;
        .stake_nav {
          .nav_menus {
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0 auto;
          }
    
          .nav_menus .menu {
            // margin-left: 36px;
            margin-left: 8px;
            position: relative;
          }
    
          .nav_menus a {
            font-weight: 200;
            padding: 5px 12px;
            color: #aaa;
            border-top: 3px solid transparent;
            font-size: 14px;
          }
    
          .nav_menus .active {
            border-top: 3px solid #eee;
            color: #eee;
          }
        }
        .stake_action_form {
          background: #FFFFFF1F;
          width: 95%;
          margin: 12px auto 0 auto;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 12px;
          input {
             background: transparent;
            border: none;
            width: 100%;
            color: #ccc;
            padding: 10px 1rem;
            outline: none;
          }
          .buttons {
            display: flex;
            align-items: center;
            span {
              font-size: 13px;
              color: var(--text-faded);
              margin: 0 12px;
              cursor: pointer;
            }
            button {
              background: #FFFFFF0A;
              font-size: 13px;
              color: var(--text-faded);
              padding: 4px 8px;
            }
            .active_btn {
              background: #F9AD15;
              color: #fff;
            }
          }
        }
      }
    }
    .rewards {
      background: rgba(23, 23, 23, 0.9);
      border: 1px solid rgba(255, 255, 255, 0.04);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      width: 100%;
      max-width: 700px;
      margin: 1.5rem auto;
      padding: 1.5rem;
      .title {
        color: var(--text-faded);
        font-size: 15px;
      }
      .stats {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 768px) {
          flex-direction: column;
        }
        .left {
          display: flex;
          align-items: center;
          .circle {
            height: 34px;
            width: 34px;
            border-radius: 50%;
            margin-right: 12px;
            img {
              height: 100%;
              width: 100%;
            }
          }
          h3 {
            color: #eee;
            font-size: 25px;
            margin: 0 12px 0 0;
          }
          .minor {
            color: var(--text-faded);
            font-size: 15px;
          }
        }
        .right {
          @media(max-width: 768px) {
            margin-top: 1rem;
          }
          button {
            background: #F9AD15;
            border-radius: 25px;
            font-size: 14px;
            padding: 6px 1rem;
            color: #eee;
          }
        }
      }
      .reward_stats {
        margin-top: 1.5rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit,  minmax(270px, 1fr));
        .stat {
          text-align: center;
          background: rgba(255, 255, 255, 0.04);
          border-radius: 8px;
          padding: 1.3rem 12px;
          max-width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @media(max-width: 768px) {
            margin-top: 1.5rem;
          }
          .label {
            color: var(--text-faded);
            font-size: 13px;
          }
          .value {
            color: #eee;
            display: flex;
            // align-items: center;
            font-size: 15px;
            margin-top: 5px;
            .circle {
              height: 18px;
              width: 18px;
              border-radius: 50%;
              margin-right: 7px;
              img {
                height: 100%;
                width: 100%;
              }
            }
            .minor {
              margin-left: 7px;
              font-size: 13px;
              color: var(--text-faded);
              margin-top: 3px;
            }
          }
          h5 {
            color: var(--text-faded);
            font-size: 14px;
            margin-top: 3px;

          }
        }
        
      }
      
    }
    
  }
}
