.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  line-height: 1.5;
  margin: auto;
  overflow: hidden;
}


.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.tocWrap {
  z-index: 1;
}
